Português: Uso do Pandas para investigar um conjunto de dados sobre a qualidade de vinhos branco e tintos (winequality-red.csv e winequality-white.csv).

Dados explorados:
Número de amostras e número de colunas em cada conjunto de dados; recursos com valores faltantes; linhas duplicadas; número de valores únicos para qualidade em cada conjunto de dados; densidade média do conjunto de dados sobre vinho tinto e branco.


English: Using Pandas to investigate a dataset about the quality of white and red wines (winequality-red.csv and winequality-white.csv).

Data explored:
Number of samples and number of columns in each dataset; features with missing values; duplicate rows; number of unique values for quality in each dataset; average density of the red and white wine dataset.

In [2]:
import pandas as pd
import numpy as np
df_red = pd.read_csv('winequality-red.csv', sep=';')
display(df_red.head(5))

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
df_white = pd.read_csv('winequality-white.csv', sep=';')
display(df_white.head(5))

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
# número de amostras e número de colunas em cada conjunto de dados
#number of samples and number of columns in each dataset

print(df_red.shape)

print(df_white.shape)

(1599, 12)
(4898, 12)

In [6]:
print("White possui {0} amostras e {1} colunas".format(df_white.shape[0], df_white.shape[1] ))

print("Red possui {0} amostras e {1} colunas".format(df_red.shape[0], df_red.shape[1]))


print("White has {0} samples and {1} columns".format(df_white.shape[0], df_white.shape[1] ))

print("Red has {0} samples and {1} columns".format(df_red.shape[0], df_red.shape[1]))

White possui 4898 amostras e 12 colunas
Red possui 1599 amostras e 12 colunas
White has 4898 samples and 12 columns
Red has 1599 samples and 12 columns

In [7]:
# recursos com valores faltantes
#missing values

df_red.isnull().any()

fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [8]:
df_white.isnull().any()

fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

Ambos os conjuntos de dasos não possuem valores faltantes.

Both datasets have no missing values.

In [29]:
# linhas duplicadas 
# Duplicated lines

red=df_red.duplicated().sum()
print("dupicadas red: {0}".format(red))

dupicadas red: 240

In [31]:
white=df_white.duplicated().sum()
print("duplicadas white: {0}".format(white))

duplicadas white: 937

In [49]:
#ou outra forma de fazer os dois códigos acima em uma só linha
#another way of doing the two codes above in only one line

print("Dupicadas red: {0} \nDuplicadas white: {1}".format(df_red.duplicated().sum(),df_white.duplicated().sum()))

Dupicadas red: 240
Duplicadas white: 937

In [48]:
# número de valores únicos para qualidade 
# number of unique values for quality

print("Valores únicos red: {0} \nValores únicos white: {1}".format(df_red['quality'].nunique(), df_white['quality'].nunique()))

Valores únicos red: 6
Valores únicos white: 7

In [51]:
# densidade média do conjunto de dados sobre vinho tinto e branco
# average density of the red and white wine dataset

print("Densidade média red:{0} \nDensidade média white: {1}".format(df_red['density'].mean(),df_white['density'].mean()))

Densidade média red:0.9967466791744831
Densidade média white: 0.9940273764801896

Fonte dos dados (data source):
https://archive.ics.uci.edu/dataset/186/wine+quality