É possível combinar os conjuntos de dados sobre vinho tinto e branco para que a análise seja mais eficiente.
NumPy foi usado para criar uma nova coluna que preserva as informações de cores e, então, o Pandas para combinar os dataframes.

It is possible to combine the red and white wine datasets for more efficient analysis.
NumPy was used to create a new column that preserves the color information, and then Pandas was used to combine the dataframes.

In [6]:
import pandas as pd
import numpy as np

df_red = pd.read_csv('winequality-red.csv', sep=';')
display(df_red.head(5))

df_white = pd.read_csv('winequality-white.csv', sep=';')
display(df_white.head(5))

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

Funcão loc[linhas,colunas].
O operador [:] representa o total da lista (ou string).
Ou seja, para todas as linhas da tabela df_red.loc, cria-se uma coluna nomeada 'color', e preenche-se as linhas dessa coluna com 'red'.

Function loc[rows,columns].
The operator [:] represents the total of the list (or string).
For all the rows in the df_red.loc data set, a column named 'color' is created, and the rows in that column are filled with 'red'.

In [7]:
df_red.loc[:,'color']=('red')
display(df_red.head(5))

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [8]:
df_white.loc[:,'color']=('white')
display(df_white.head(5))

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

Outra forma de adicionar a coluna 'color' ao dataframe (Another way off adding the 'color' column to the dataframe):

In [10]:
# criando vetor de cor para o dataframe tinto (creating color vector for red dataframe)
color_red = np.repeat("red", df_red.shape[0])
print(color_red)

# criando vetor de cor para o dataframe branco (creating color vector for white dataframe)
color_white = np.repeat("white", df_white.shape[0])
print(color_white)

#np.repeat("red", red_df.shape[0]) função de comando para o numpy repetir 'red' o número de linhas do dataframe (rows)
#np.repeat ("red", red_df.shape[0]) command function for numpy to repeat 'red' the number of rows of the dataframe
#shape() consists of array having two arguments rows and columns
#if you search shape[0] then it will gave you the number of rows (linhas)

['red' 'red' 'red' ... 'red' 'red' 'red']
['white' 'white' 'white' ... 'white' 'white' 'white']

In [13]:
df_red['color'] = color_red
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [15]:
df_white['color'] = color_white
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [17]:
# anexando dataframes
wine_df = pd.concat([df_red, df_white])

# exibindo o data frame para ver se tudo deu certo (displaying data frame)
#df.loc[row,column]
#display(wine_df.loc[])
#shape mostra as dimensões (linhas e colunas) do data frame
print(wine_df.shape)

(6497, 13)

Conferindo se deu certo (checking if it worked):

In [18]:
display(wine_df.head())

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [19]:
display(wine_df.loc[4800:4810]) #mostrando apenas as linhas de número 4800 à 4810

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
4800,6.0,0.200,0.33,1.1,0.039,45.0,126.0,0.99051,3.31,0.45,11.6,7,white
4801,6.4,0.105,0.29,1.1,0.035,44.0,140.0,0.99142,3.17,0.55,10.7,7,white
4802,5.8,0.280,0.34,2.2,0.037,24.0,125.0,0.98986,3.36,0.33,12.8,8,white
4803,6.4,0.310,0.50,5.8,0.038,42.0,111.0,0.99189,3.18,0.53,11.9,7,white
4804,6.0,0.350,0.46,0.9,0.033,9.0,65.0,0.98934,3.24,0.35,12.1,4,white
4805,5.1,0.260,0.34,6.4,0.034,26.0,99.0,0.99449,3.23,0.41,9.2,6,white
4806,6.6,0.280,0.09,10.9,0.051,37.0,131.0,0.99566,2.93,0.62,9.5,6,white
4807,6.0,0.170,0.30,7.3,0.039,39.0,104.0,0.99252,2.91,0.57,11.0,6,white
4808,7.3,0.350,0.67,8.3,0.053,10.0,100.0,0.99590,3.19,0.50,10.9,5,white
4809,6.0,0.260,0.24,1.3,0.053,66.0,150.0,0.99240,3.21,0.62,10.4,6,white
4810,5.4,0.375,0.40,3.3,0.054,29.0,147.0,0.99482,3.42,0.52,9.1,5,white

Mostrando as contagem de linhas e colunas de cada data frame: Vinho branco, vinho tinto, e unificado.

Showing the row and column counts of each data frame: White wine, Red wine, and Unified.

In [20]:
print('Branco original:{0} \nTinto original:{1} \nDF Unificado:{2}'.format(df_white.shape, df_red.shape, wine_df.shape))

Branco original:(4898, 13)
Tinto original:(1599, 13)
DF Unificado:(6497, 13)

In [22]:
print('Branco original:{0} \nTinto original:{1} \nDF Unificado:{2}'.format(df_white.shape, df_red.shape, wine_df.shape))

Branco original:(4898, 13)
Tinto original:(1599, 13)
DF Unificado:(6497, 13)

Salvar configurando index=False para evitar salvar com uma coluna não-nomeada:

In [23]:
wine_df.to_csv("winequality_edited.csv", index=False)